.header{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
    margin: 100px auto;
    img{
        width: 100%;
    }
}
@media all and(max-width: 768px){
    .header{
        width: 80%;
    }
}