.posts{
    margin:50px auto;
    padding-bottom: 20px;
}

.post{
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 1px solid black;
    margin: 20px auto;
    &__info{
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
    }
    &__content{
        display: flex;
        align-items: center;
        margin: 0 5px;
        &__modal{
            width: 20%;
        }
        &--full{
            width: 95%;
        }
        &--img {
            width: 75%;
        }
        p{
            display: flex;
            margin: 0 auto ;
            background: #ffd7d7c0;
            padding: 20px;
        }
        img{
            display: flex;
            margin: 10px auto;
            width: 100%;
            object-fit: cover;
            cursor: pointer;
        }
    }
    &__edit{
        display:flex;
        align-items: center;
        justify-content: flex-end;
        margin: 10px 0 ;
        &__like{
            display: flex;
            margin: 10px;
        }  
        &__button{
            width: 95%;
            button{
                margin-left: 10px;
            }
        }
    }
}   
.anticon-like{ 
    cursor: pointer;
    transition: transform 300ms;
    transform: scale(1.5);
    &:hover{
        transform: scale(1.8)
    }
}
.admin-btn{
    width: 50%;
    margin: 10px;
}

@media all and(max-width: 768px){ 
    .post{
        width: 90%;
        &__content{
            display: flex;
            flex-direction: column;
            &__modal{
                width: 50%;
            }
            &--img{
                width: 95%;
            }
        }
    }
    .admin-btn{
        width: 70%
    }
}
