
@import './layout/header';
@import './layout/post';
@import './components/auth-form';
@import './components/writePost';

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.welcome{
    color: #4e5133;
    font-size : 40px;
    font-weight: bold;
    text-align: center;
}
